---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

$serif: "IBM Plex Serif", serif;
$sans-serif : "IBM Plex Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
